<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Darshan Kudache</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav1.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <div class="nav-left">
                    <h1><em>D7</em></h1>
                </div>
                <div class="nav-right">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/skills">Skills</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <footer>
        <div class="container">
            <p>&copy; 2024 Darshan Kudache. All rights reserved.</p>
            <div class="social-link">
                <a href="mailto:kbdarshan0007@gmail.com"><img src="static/email.png" alt="Email"></a>
                <a href="tel:+919533539679"><img src="static/phone.png" alt="Phone"></a>
                <a href="https://www.linkedin.com/in/darshan-kudache-a4369328b"><img src="static/linkedin.png" alt="LinkedIn"></a>
            </div>
        </div>
    </footer>
</body>
</html>
